client/data/resources/*
client/models/resources/*
!client/data/resources/database.dbml
docs/build/
docs/source/api/
.ipynb_checkpoints/
__pycache__/
*.task
*.egg-info
.pylintrc
client/proof_of_concept/databasing.py
.vscode/settings.json
